LOAEZA SEPTAVIAL 1103204003

#Prediksi Analitik Penjualan Rumah di King County, Washington State, USA
Dataset ini berisi data riwayat penjualan rumah di King Country, Washington State, USA, pada bulan Mei 2014 hingga Mei 2015.

**Impor *Library***

*Library* numpy digunakan untuk memproses larik atau array.

*Library* matplotlib digunakan membuat visualisasi data dalam dua dimensi.

*Library* seaborn dibangun di atas *library* matplotlib, digunakan untuk membuat visualisasi data.

*Library* pandas digunakan untuk menganalisis dan memanipulasi data.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor

# DATA UNDERSTANDING DAN DATA PREPARATION

**Memuat Dataset (Data Loading)**

Memuat dataset dengan nama file 'kc_house_data.csv' dengan format file csv (comma separated value)

In [2]:
house = pd.read_csv('/content/ford.csv')

**Menampilkan Dataframe**

In [3]:
house

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,Fiesta,2017,12000,Automatic,15944,Petrol,150,57.7,1.0
1,Focus,2018,14000,Manual,9083,Petrol,150,57.7,1.0
2,Focus,2017,13000,Manual,12456,Petrol,150,57.7,1.0
3,Fiesta,2019,17500,Manual,10460,Petrol,145,40.3,1.5
4,Fiesta,2019,16500,Automatic,1482,Petrol,145,48.7,1.0
...,...,...,...,...,...,...,...,...,...
17961,B-MAX,2017,8999,Manual,16700,Petrol,150,47.1,1.4
17962,B-MAX,2014,7499,Manual,40700,Petrol,30,57.7,1.0
17963,Focus,2015,9999,Manual,7010,Diesel,20,67.3,1.6
17964,KA,2018,8299,Manual,5007,Petrol,145,57.7,1.2
17965,Focus,2015,8299,Manual,5007,Petrol,22,57.7,1.0

Terdapat 21613 data yang terdiri dari 21 atribut.

id: notasi rumah

date: tanggal rumah terjual

price: harga penjualan rumah, fitur target

bedrooms: jumlah kamar tidur pada rumah

bathrooms: jumlah kamar mandi pada rumah, nilai .5 merupakan toilet

sqft_living: luas *living area* dalam satuan *square feet*

sqft_lot: luas tanah dalam satuan *square feet*

floors: jumlah tingkat/lantai rumah

waterfront: rumah dengan view menghadap pantai

view: Indeks seberapa bagus pemandangan rumah tersebut

condition: kondisinya secara keseluruhan

grade: nilai keseluruhan yang diberikan kepada *housing-unit,* berdasarkan sistem penilaian King County

sqft_above: luas rumah yang berada di atas permukaan tanah dalam satuan *square feet*

sqft_basement: luas ruang-bawah-tanah dalam satuan *square feet*

yr_built: tahun pertama kali dibangun

yr_renovated: tahun terakhir rumah direnovasi

zipcode: kode pos

lat: koordinat garis lintang

long: koordinat garis bujur

sqft_living15: Luas *living area* untuk *nearest 15 neighbors*

sqft_lot15: Luar area tanah untuk *nearest 15 neighbors*

**Anomali Data pada Atribut floors**

Terdapat anomali data pada atribut floors. Anomali tersebut berupa nilai pecahan yang ada pada atribut tersebut seperti 3.50, dan tipe data floors berupa float. Sedangkan, banyaknya lantai pada suatu bangunan pasti bernilai bilangan bulat.

**Anomali Data pada Atribut bathrooms**

Dari peninjauan sekilas dataset di atas, didapatkan nilai dari fitur 'bathrooms' yaitu 0.75, 1.00, 2.00, 2.25, 2.50, 3. Anomali terjadi pada banyaknya kamar mandi yang bernilai pecahan. Meski pada keterangan fitur-fitur dijelasakan bahwa nilai .5 pada fitur bathrooms menunjukkan toilet bukan kamar mandi, namun nilai 'bathrooms' yang berkelipatan .25 seperti .25 dan .75 belum diketahui apa maksud dari nilai tersebut.

**Anomali Kualitas Data pada Atribut id**

In [4]:
print(house.nunique(axis=0))

model              24
year               23
price            3511
transmission        3
mileage         13528
fuelType            5
tax                36
mpg                90
engineSize         16
dtype: int64

Dari hasil keluaran cek nilai unik pada data didapatkan bahwa atribut id memiliki nilai unik sebanyak 21436. Sedangkan total data pada dataset berjumlah 21613. Hal ini menunjukkan ketidakwajaran. Karena, nilai dari id harus unik untuk setiap data.

**Mengecek Informasi pada Dataset**

In [5]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17966 entries, 0 to 17965
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         17966 non-null  object
 1   year          17966 non-null  int64
 2   price         17966 non-null  int64
 3   transmission  17966 non-null  object
 4   mileage       17966 non-null  int64
 5   fuelType      17966 non-null  object
 6   tax           17966 non-null  int64
 7   mpg           17966 non-null  float64
 8   engineSize    17966 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 1.2+ MB

Terdapat enam atribut bertipe data float, empat belas atribut bertipe data integer, satu atribut bertipe data objetct.

**Anomali pada Tipe Data**

Ditemukan Anomali pada tipe data beberapa atribut.
- Atribut bathrooms dan floors seharusnya bertipe data integer. Hal ini selaras dengan anomali nilai bathrooms dan floors yang sebelumnya telah dibahas, dan belum diketahui alasan terdapatnya nilai pecahan pada atribut bathrooms, dan floors.
- Atribut yang menjelaskan mengenai luas suatu daerah seharusnya bertipe data float. Meskipun seluruh data memiliki nilai dengan bilangan bulat, seharusnya atribut yang berkaitan dengan ukuran luas bertipe data float. Hal ini dikarenakan ukuran luas bersifat kontinu. Dan pada kasus dataset ini yang terdiri dari lebih dari 20.000 data, sulit dipercaya bahwa luas dari masing-masing daerah bernilai bulat dalam satuan square-feet. Atribut-atribut yang dimaksud antara lain: sqft_living, sqft_lot, sqft_above, sqft_basement, sqft_living15, sqft_lot15.

**Mengubah Atribut 'date' Menjadi 'month' dan 'year'**

In [6]:
house['date'] = pd.to_datetime(house['date'])

KeyError: ignored

In [ ]:
house['month'] = house['date'].apply(lambda date: date.month)
house['year'] = house['date'].apply(lambda date: date.year)

**Menghapus Atribut 'id' dan 'date'**

Atribut 'id' tidak digunakan dalam prediksi. Atribut 'date' sudah digantikan dengan atribut 'month' dan 'year'.

In [ ]:
house.drop('id',inplace=True,axis=1)
house.drop('date',inplace=True,axis=1)

**Melihat Keberadaan Data 'null' *(missing value)* pada Dataset**

In [ ]:
house.isnull().sum()

Tidak ditemukan data yang bernilai null pada tiap-tiap atribut.

**Melihat Deskripsi Statistika Dataset**

In [ ]:
house.describe()

Terdapat anomali data ditunjukkan pada nilai minimum variabel bathrooms, dan bedrooms. Tidak sewajarnya rumah pada tahun 2014-2015 di daerah Washington, USA, tidak memiliki kamar tidur atau kamar mandi.

**Cek Nilai 0 pada Atribut 'bedrooms' dan 'bathrooms'**

In [ ]:
bedrooms = (house.bedrooms == 0).sum()
bathrooms = (house.bathrooms == 0).sum()

print("Nilai 0 di kolom bedrooms ada: ", bedrooms)
print("Nilai 0 di kolom y bathrooms: ", bathrooms)

**Cek apakah tiga belas nilai 0 pada atribut bedrooms terdapat pada baris yang sama pada empat belas nilai 0 milik atribut bathrooms?**

Pengecekkan menggunakan atribut bathrooms dengan nilai 0 lebih banyak dari nilai bedrooms.

In [ ]:
house.loc[(house['bathrooms']==0)]

Nilai 0 pada baris data atribut bedrooms berbeda dengan baris data nilai 0 milik atribut bathrooms.

Sehingga, kita perlu hapus baris yang memiliki nilai 0 untuk masing-masing variabel bedrooms dan bathrooms.

**Menghapus Nilai 0 pada Variabel 'bedrooms' dan 'bathrooms'**

In [ ]:
house = house.loc[(house[['bedrooms','bathrooms']]!=0).all(axis=1)]

**Cek Ukuran Data Saat Ini**

In [ ]:
house.shape

**Univariate EDA**

**Analisis Fitur Numerik dengan data fitur tunggal**

In [ ]:
house.hist(bins=50, figsize=(20,15))
plt.show()

Informasi dari histogram di atas:

1. Peningkatan harga rumah sebanding dengan penurunan jumlah sampel. Distribusi harga rumah miring ke kanan (right-skewed).
2. Lebih dari 50% rumah memiliki satu hingga lima kamar tidur.
3. Sebagian besar rumah memiliki dua kamar mandi.
4. Sebagian besar rumah memiliki luas rumah 2000 *square feet.*
5. Sebagian besar rumah memiliki luas tanah atau *lot* sekitar satu *square feet.*
6. Sebagian besar rumah memiliki satu atau dua tingkat/lantai.
7. Sebagian besar rumah tidak memiliki *waterfront*.
8.  Sebagian besar rumah tidak memiliki *view*.
9. Sebagian besar rumah memiliki nilai *condition* sebesar tiga poin.
10. Sebagian besar rumah meiliki nilai *grade* sebesar tujuh hingga delapan poin.
11. Sebagian besar rumah memiliki luas *above* atau *footage of house apart from basement* sebesar ratusan hingga 6100 *square feet.*
12. Sebagian besar rumah tidak memiliki *basement*.
13. Rumah dibangun di antara rentang tahun 1900 hingga 2015.
14. Sebagian besar rumah tidak mengalami renovasi.
15. Data *zipcode* rumah berada pada rentang nilai 98000 hingga 98200.
16. Data *latitude* menggambarkan *left-skewed*.
17. Data *longitude* menggambarkan *right-skewed*.
18. Data variabel sqft_living15 menggambarkan *right-skewed*.
19. Sebagian besar rumah tidak merenovasi luas *lot* atau tanah, sehingga data sqft_lot15 terbanyak berada pada nilai 0.
20. Penjualan terbanyak berada pada bulan Mei.
21. Penjualan pada tahun 2014 lebih banyak daripada penjualan di tahun 2015.

**Multivariate EDA**

**Mengamati Hubungan Antar Fitur Numerik dengan Fungsi 'pairplot()'**

In [ ]:
sns.pairplot(house, diag_kind = 'kde')

Keterkaitan antara tiap atribut dengan atribut *price* terlihat pada baris pertama visualisasi data.

Jika nilai pada sumbu x semakin besar dan nilai pada sumbu y semakin besar, maka kedua variabel tersebut memiliki hubungan positif.

Jika nilai pada sumbu x semakin besar, namun nilai pada sumbu y semakin kecil, maka kedua variabel tersebut memiliki hubungan negatif.

Jika hasil visualisasi tidak membentuk pola maka, kedua variabel tersebut tidak berhubungan.

Dari grafik di atas, fitur-fitur yang memiliki hubungan positif terhadap target (price) adalah bathrooms, sqft_living, grade, sqft_above,sqft_living15.

**Evaluasai Skor Korelasi dengan Fungsi 'corr()'**

In [ ]:
plt.figure(figsize=(10, 8))
correlation_matrix = house.corr().round(2)

# Parameter 'annot = True', untuk menampilkan nilai dalam persegi
sns.heatmap(data=correlation_matrix, annot=True, cmap='coolwarm', linewidths=0.5, )
plt.title("Correlation Matrix untuk tiap fitur ", size=20)

Keterangan matriks:

1. Korelasi tiap fitur terhadap fitur 'price' tertera pada baris pertama.

2. Koefisien korelasi mendekati 1 atau -1, menunjukkan kuatnya hubungan antara dua variabel (menggambarkan korelasi positif atau negatif).

3. Semakin mendekati 0 nilai koefisien korelasi, maka semakin kecil hubungan antara dua variabel tersebut.

4. Semakin pekat warna merah pada persegi menunjukkan semakin kuat korelasi positif antara dua fitur.

5. Semakin pekat warna biru pada persegi menunjukkan semakin kuat korelasi negatif antara dua fitur.

6. Semakin terang warna biru, semakin menunjukkan korelasi yang lemah antara dua fitur.

7. Berikut adalah daftar fitur yang memiliki hubungan kuat dengan fitur 'price' atau memiliki warna berupa oranye atau mendekati warna merah atau memiliki nilai korelasi lebih dari 0,5: bathrooms (0,53), sqft_living (0,7), grade (0,67), sqft_above (0,61), sqft_living15 (0,59).

**Inisialisasi atribut dan target**

Menginisialisasikan variabel X yang merupakan fitur-fitur untuk memprediksi harga suatu rumah, dan variabel y yang merupakan fitur target atau nilai yang akan diprediksi. Tidak mengikutsertakan fitur-fitur yang memiliki pengaruh/korelasi lemah dengan fitur 'price'.

In [ ]:
X = house[['bathrooms', 'sqft_living', 'grade', 'sqft_above','sqft_living15']]
y = house['price']

**Split Dataset**

Split dataset menjadi data latih dan data uji sebelum transformasi. Hal ini ditujukan supaya transformasi diterapkan hanya pada data latih.

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state=123)

**Menampilkan total dataset secara keseluruhan, total dataset latih, total dataset uji.**

In [ ]:
print(f'Total # sampel di seluruh dataset: {len(X)}')
print(f'Total # sampel di seluruh dataset: {len(X_train)}')
print(f'Total # sampel di seluruh datasett: {len(X_test)}')

**Normalisasi Data dengan StandardScaler**

Standarisasi fitur dengan cara mengurangi setiap nilai pada kumpulan data dengan nilai rata-rata, kemudian dibagi dengan deviasi standar. Standarisasi ditujukan supaya data tidak memiliki penyimpangan nilai yang besar.

**Standarisasi Data Latih**

In [ ]:
numerical_features = ['bathrooms', 'sqft_living', 'grade', 'sqft_above','sqft_living15']
scaler = StandardScaler()
scaler.fit(X_train[numerical_features])
X_train[numerical_features] = scaler.transform(X_train.loc[:, numerical_features])
X_train[numerical_features].head()

In [ ]:
#cek nilai rata-rata (mean) dan standar deviasi (std) setelah di standarisasi
X_train[numerical_features].describe().round(4)

Standarisasi mengubah nilai 'mean' menjadi 0 dan nilai 'std' menjadi 1

**Standarisasi Data Uji**

In [ ]:
#Scaling data uji
X_test.loc[:, numerical_features] = scaler.transform(X_test[numerical_features])

#Pengembangan Model

Pada tahap ini terdapat beberapa fungsi dengan penjelasan sebagai berikut:

Fungsi fit() digunakan untuk melatih model. Parameter X_train merupakan data latih dengan atribut-atribut yang digunakan untuk prediksi. Sedangkan y_train adalah data latih dengan atribut target.

Fungsi score() dengan parameter X_train, dan y_train digunakan untu mengukur keakuratan model terhadap data pelatihan.

**Decision Tree**

random_state adalah *hyperparameter* untuk mengatur jumlah pohon pada algoritma yang bekerja.

In [ ]:
dtr = DecisionTreeRegressor(random_state=42)

In [ ]:
dtr.fit(X_train,y_train)
score_dtr = dtr.score(X_train,y_train)
print(score_dtr)

**Random Forest Regressor**

In [ ]:
rfr = RandomForestRegressor(n_estimators=500)

In [ ]:
rfr.fit(X_train,y_train)
score_rfr = rfr.score(X_train,y_train)
print(score_rfr)

**KNN**

n_neighbors adalah hyperparameter untuk menentukan jumlah tetangga terdekat untuk perhitungan algoritma KNN.

In [ ]:
knr = KNeighborsRegressor(n_neighbors = 2)

In [ ]:
knr.fit(X_train,y_train)
score_knr = knr.score(X_train,y_train)
print(score_knr)

#EVALUASI MODEL

**Nilai RMSE untuk Masing-masing Model pada Proses Latihan Maupun Pengujian**

*   Fungsi predict() digunakan untuk memprediksi hasil observasi data uji.
*   Fungsi mean_squared_error digunakan untuk menghitung niai MSE atau Mean Squared Error suatu model.
*   Fungsi mean_squared_error digunakan untuk menghitung niai MSE atau Mean Squared Error suatu model.

In [ ]:
rmse = pd.DataFrame(columns=['train', 'test'], index=['DTR','RFR','KNR'])
model_dict = {'DTR': dtr, 'RFR': rfr, 'KNR': knr}
for name, model in model_dict.items():
    rmse.loc[name, 'train'] = np.sqrt(mean_squared_error(y_true=y_train, y_pred=model.predict(X_train))/1e3 )
    rmse.loc[name, 'test'] = np.sqrt(mean_squared_error(y_true=y_test, y_pred=model.predict(X_test))/1e3)

rmse

**Memvisualisasikan Nilai RMSE untuk Masing-masing Model Pada Proses Latihan Maupun Pengujian**

In [ ]:
fig, ax = plt.subplots()
rmse.sort_values(by='test', ascending=False).plot(kind='barh', ax=ax, zorder=3)
ax.grid(zorder=0)

Dari hasil di atas, terlihat bahwa model RFR memiliki hasil yang paling baik dibandingkan DTR dan KNR. Hal ini ditunjukkan pada nilai error dari hasil uji RFR memiliki nilai terkecil, dan tidak mengalami overfitting sebagaimana model DTR.

**Uji model dengan data test**

In [ ]:
prediksi = X_test.iloc[:1].copy()
pred_dict = {'y_true':y_test[:1]}
for name, model in model_dict.items():
    pred_dict['prediksi_'+name] = model.predict(prediksi).round(1)

pd.DataFrame(pred_dict)

Pada pengujian kali ini didapatkan hasil prediksi yang mendekati nilai sesungguhnya diperoleh oleh model KNR.